{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {% trans "Regístrate" %}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans "Regístrate" %}</h3>

                <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Estas usando tu cuenta de {{provider_name}} para registrarte en {{site_name}}. Para completar el registro debes llenar este formulario:{% endblocktrans %}</p>

                <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">{% trans "Registrar" %}</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
