{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {% trans "Confirmar email" %}
{% endblock title %}}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans "Confirmar email" %}</h3>

                {% user_display email_address.user as user_display %}

                <p>{% blocktrans with email_address.email as email %}Has confirmado que <a href="mailto:{{email}}">{{ email }}</a> es el email del usuario {{ user_display }}.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
