{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {% trans "Confirmar email" %}
{% endblock title %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans "Confirmar email" %}</h3>

                {% if confirmation %}
                    {% user_display confirmation.email_address.user as user_display %}
                    <p>{% blocktrans with confirmation.email_address.email as email %}Confirme que <a href="mailto:{{email}}">{{ email }}</a> es un email para el usuario {{ user_display }}.{% endblocktrans %}</p>
                    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">{% trans "Confirmar" %}</button>
                        {% endbuttons %}
                    </form>
                {% else %}
                    {% url 'account_email' as email_url %}
                    <p>{% blocktrans %}Este link de confirmación ha expirado. <a href="{{ email_url}}">Solicite un email de confirmación</a>.{% endblocktrans %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
