{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {% trans "Sign in" %}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans "Sign in" %}</h3>
                {% if socialaccount.providers %}
                    <p>{% blocktrans with site.name as site_name %}Puedes registrarte usando una de tus cuentas de redes sociales, pero si esa idea no te gusta puedes <a href="{{ signup_url }}">crear una cuenta tradicional</a>.{% endblocktrans %}</p>

                    <ul class="list-unstyled socialaccount_providers">
                      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>

                    {% include "socialaccount/snippets/login_extra.html" %}

                {% else %}
                    <p>{% blocktrans %}Si no has creado una cuenta aun debes <a href="{{ signup_url }}">registrarte</a>{% endblocktrans %}</p>
                {% endif %}

                <br>
                <hr> <!-- hr -->
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button class="btn btn-primary primaryAction" type="submit">{% trans "Entrar" %}</button>
                        <a class="btn btn-link secondaryAction" href="{% url 'account_reset_password' %}">{% trans "¿Olvidaste tu password?" %}</a>
                    {% endbuttons %}

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
