{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {% trans "Cambiar password" %}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h3>{% if token_fail %}{% trans "Token invalido" %}{% else %}{% trans "Cambiar password" %}{% endif %}</h3>

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}El link para cambiar password es invalido. Quizás ya lo utilizaste antes. <a href="{{ passwd_reset_url }}">Solicita otro link</a> para camiar password.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action=".">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <button type="submit" name="action" class="btn btn-primary">{% trans "Cambiar password" %}</button>
                            {% endbuttons %}
                        </form>
                    {% else %}
                        <p>{% trans "Password actualizado." %}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
