{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {% trans "Registro" %}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h3>{% trans "Regístrate" %}</h3>
                <p>{% blocktrans %}¿Ya tienes una cuenta? En ese caso <a href="{{ login_url }}">login</a>.{% endblocktrans %}</p>

                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">{% trans "Registrar" %}</button>
                    {% endbuttons %}

                </form>
            </div>
        </div>
    </div>
{% endblock %}


