{% extends "account/base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Verifica tu email" %}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans "Verica tu email" %}</h3>

                {% url 'account_email' as email_url %}

                <p>{% blocktrans %}Esta pagina require que verifique su dirección de correo electrónico.{% endblocktrans %}</p>

                <p>{% blocktrans %}Le enviamos un mensaje a su correo electrónico para verificar que usted controla esa dirección.{% endblocktrans %}</p>

                <p>{% blocktrans %}<strong>Nota:</strong> puede <a href=\"%(email_url)s\">cambiar su dirección de correo electrónico</a>.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
