{% extends "account/base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Verifica tu email" %}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans "Verica tu email" %}</h3>

                {% url 'account_email' as email_url %}

                <p>{% blocktrans %}Este site require que verifique su dirección de email.{% endblocktrans %}</p>

                <p>{% blocktrans %}Le enviamos un mensaje a su email para verificar que usted es controla esa dirección.{% endblocktrans %}</p>

                <p>{% blocktrans %}<strong>Nota:</strong> puede <a href="{{email_url}}">cambiar su dirección de email</a>.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
