{% extends "account/base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Verifica tu email" %}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{% trans "Verifica tu email" %}</h3>
                <p>{% blocktrans %}Te enviamos un mensaje para verificar tu correo electrónico. Abre tu correo electrónico y presiona el enlace que te enviamos para completar el proceso. Si no recibes el correo electrónico en unos minutos contactanos para ayudarte.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
