[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
appdirs = "==1.4.3"
attrs = "==19.1.0"
boto = "==2.49.0"
certifi = "==2022.12.7"
chardet = "==3.0.4"
click = "==7.0"
contextlib2 = "==0.5.5"
defusedxml = "==0.6.0"
dj-database-url = "==0.5.0"
django-allauth = "==0.40.0"
django-appconf = "==1.0.3"
django-autoslug = "==1.9.6"
django-bootstrap3 = "==11.0.0"
django-braces = "==1.13.0"
django-configurations = "==2.2"
django-debug-toolbar = "==2.1"
django-dotenv = "==1.4.2"
django-extensions = "==2.2.5"
django-fsm = "==2.7.0"
django-fsm-log = "==1.6.2"
django-ical = "==1.7.0"
django-markdown-deux = "==1.0.5"
django-storages = "==1.8"
django-taggit = "==1.1.0"
ecdsa = "==0.13.2"
gunicorn = "==20.0.4"
icalendar = "==4.0.3"
idna = "==2.8"
markdown2 = "==2.3.8"
newrelic = "==2.106.1.88"
oauthlib = "==3.0.1"
pinax-notifications = "==5.0.3"
psycopg2-binary = "==2.8.4"
pyparsing = "==2.4.0"
python-dateutil = "==2.8.0"
python3-openid = "==3.1.0"
pytz = "==2019.1"
raven = "==6.10.0"
requests = "==2.22.0"
requests-oauthlib = "==1.2.0"
simplejson = "==3.16.0"
sqlparse = "==0.3.0"
toml = "==0.10.0"
urllib3 = "==1.25.3"
Collectfast = "==0.6.2"
Django = "<3.0"
PySocks = "==1.7.0"
Werkzeug = "==0.15.4"
pycryptodome = "==3.9.4"
pylibmc = "==1.6.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
