Collectfast==0.1.14
Django==1.6.2
South==0.8.4
Unidecode==0.04.14
Werkzeug==0.9.4
boto==2.27.0
dj-database-url==0.3.0
django-allauth==0.15.0
django-autoslug==1.7.2
django-braces==1.3.1
django-cities-light==2.1.13
django-debug-toolbar==1.0.1
django-dotenv==1.2
django-extensions==1.3.3
-e git+https://github.com/pinax/django-notification@3116c616409c47109e5bb1a3fbf273d380b5c2ea#egg=django_notification-dev
django-storages==1.1.8
django-taggit==0.11.2
gunicorn==18.0
oauthlib==0.6.1
psycopg2==2.5.2
python-dateutil==2.2
python-openid==2.2.5
python3-openid==3.0.3
pytz==2014.1
requests==2.2.1
requests-oauthlib==0.4.0
six==1.5.2
sqlparse==0.1.11
wsgiref==0.1.2
