appdirs==1.4.3
bitly-api==0.3
boto==2.28.0
Collectfast==0.2.0
dj-database-url==0.3.0
Django==1.10.6
django-allauth==0.31.0
django-autoslug==1.7.2
django-bootstrap3==8.2.1
django-braces==1.4.0
django-configurations==2.0
django-debug-toolbar==1.7
django-dotenv==1.2
django-extensions==1.7.7
django-ical==1.2
django-markdown-deux==1.0.4
django-pylibmc-sasl==0.2.4
django-secure==1.0
django-states==1.6.5
django-storages==1.1.8
django-taggit==0.22.0
ecdsa==0.11
Fabric==1.8.3
gunicorn==18.0
icalendar==3.6.2
markdown2==2.2.1
newrelic==2.18.1.15
oauthlib==2.0.1
packaging==16.8
paramiko==1.12.4
pinax-notifications==4.0.0
psycopg2==2.5.3
pycrypto==2.6.1
pylibmc==1.3.0
pyparsing==2.2.0
python-dateutil==2.2
python-openid==2.2.5
python3-openid==3.0.4
pytz==2014.2
raven==4.2.1
requests==2.13.0
requests-oauthlib==0.8.0
simplejson==3.4.1
six==1.10.0
sqlparse==0.2.3
tweepy==2.3.0
Unidecode==0.4.14
Werkzeug==0.9.4
