{% load tz %}
{% load i18n %}

{% timezone meeting.mentor.timezone %}
    {% blocktrans with the_date=meeting.datetime|date  the_time=meeting.get_time_range_string mentor_name=meeting.mentor.first_name %}
        Hola {{ mentor_name }},

        <p>Acabamos de crear un "espacio de reunión" para ti. Ahora cualquier persona registrada en 1hora.org puede reservar ese espacio. Cuando alguien reserve tendrás oportunidad de confirmar si estas disponible.</p>

        <p>El espacio disponible es el: {{ the_date }} @ {{ the_time }}.</p>

        <p>- <a href="https://1hora.org">1hora.org</a></p>
    {% endblocktrans %}
{% endtimezone %}
