{% load tz %}
{% load i18n %}

{% timezone meeting.mentor.timezone %}
    {% blocktrans with mentor_name=meeting.mentor.first_name protege_name=meeting.protege.get_full_name the_date=meeting.datetime|date the_time=meeting.get_time_range_string %}
        Hola {{ mentor_name }},

        <p>{{ protege_name }} acaba de cancelar la reunión pautada para el {{ the_date }} @ {{ the_time }}. Pronto recibirás notificación de un nuevo espacio de reunión que crearemos para ti.</p>

        <p>- <a href="https://1hora.org">1hora.org</a></p>
    {% endblocktrans %}
{% endtimezone %}
