@import 'nib'
@import '_bs3_media_queries.styl'
@import '_colors.styl'

body
    font-face Helvetica, 'Helvetica Neue', sans-serif

.home-branding-wrapper
    margin-top 20px

.branding-huge
    font-size 100px
    font-weight 800
    letter-spacing -8px

.branding-small
    font-size 15px
    font-weight 800
    letter-spacing -1px

    a
        color black

.branding-medium
    font-size 36px
    font-weight 800
    letter-spacing -3px

    a
        color black

.branding-subtitle
    font-weight normal

.header
    margin-top 30px
    margin-bottom 60px

.header-user-menu
    margin-top 25px

    .btn-group .btn-default
        border 0

.header-menu-list
    margin-left 20px
    position relative
    top -4px

.header-menu-link
    color $grey3
    text-transform uppercase
    font-weight bold
    font-size 13px

    &:hover
        color black
        text-decoration none

    &.active
        color black

.home-123-bullets-wrapper
    margin-top 80px
    margin-bottom 20px

.home-social-auth-wrapper
    margin-bottom 50px

.home-123-bullet
    margin-bottom 40px

.big-number
    border 3px solid $grey2
    font-size 20px
    font-weight bold
    padding 8px 15px
    border-radius 30px
    margin-right 5px

.inline-block
    display inline-block

.margin-vertical-50
    margin-top 50px
    margin-bottom 50px

.margin-vertical-20
    margin-top 20px
    margin-bottom 20px

.margin-vertical-10
    margin-top 10px
    margin-bottom 10px

.text-help-small
    font-size 12px


.btn
    border-radius 3px

.btn-social-auth
    width 125px
    margin-bottom 4px

.btn-facebook
    background-color $facebook-blue
    color lighten($facebook-blue, 40)

    &:hover
        background-color darken($facebook-blue, 5)
        color lighten($facebook-blue, 50)


.btn-twitter
    background-color $twitter-blue
    color lighten($twitter-blue, 30)

    &:hover
        background-color darken($twitter-blue, 5)
        color lighten($twitter-blue, 40)


.btn-google
    background-color $google-red
    color lighten($google-red, 30)

    &:hover
        background-color darken($google-red, 5)
        color lighten($google-red, 40)


.btn-persona
    background-color $persona-orange
    color lighten($persona-orange, 30)

    &:hover
        background-color darken($persona-orange, 5)
        color lighten($persona-orange, 40)

.horizontal-line
    border-top 1px solid $grey1

.user-widget-small-name
    font-weight bold
    font-size 15px

.user-widget-small-bio
    font-size 12px

.user-widget-small
    margin-bottom 30px

.home-media-wrapper
    margin-bottom 20px
    height 90px

.media:first-child
    margin-top 15px

.featured-mentors-more-wrapper
    margin-top 40px

.featured-mentors-title
    margin 20px 0 50px 0

.footer
    border-top 1px solid $grey1
    margin 80px 0 40px 0
    padding 20px 0

.padding-0-left
    padding-left 0

.padding-0-right
    padding-right 0


.search-huge
    border 1px solid $grey2
    font-size 20px
    padding 15px
    width 100%
    margin-bottom 10px

.btn-search-huge
    color white
    font-size 20px
    height 60px
    width 96%

@media xs
    .btn-search-huge
        width 100%

.search-page-horizontal-line
    margin-top 40px
    margin-bottom 40px

.search-link-list
    font-size 18px

.text-section-header
    font-weight bold
    margin 0 0 20px 0

.profile-content-section
    margin-bottom 60px

.profile-meeting-row
    margin-bottom 20px

.btn-grey
    background-color $grey1
    border-color $grey2

.icon-cancelled
    color $red

.icon-success
    color $green

.icon-primary
    color $blue

.icon-warning
    color $yellow

.icon-info
    color $lightBlue


@media xs
    .meeting-gravatar
        display inline-block
        margin-right 20px

.navbar-default
    border 0

.mobile-nav-wrapper
    margin-top 15px
    margin-bottom 15px

    .navbar-header
        background-color white

button.navbar-toggle
    margin-top 25px

.user-profile-time-end
    margin-top 30px

.primary-email
    font-weight bold

.social-provider-label
    font-weight bold


.did-cancel-meeting
    box-shadow 0 0 10px $red inset

.form-inline
    display inline-block

.gravatar-placeholder-grey
    background-color $grey1
    width 45px
    height 45px
    display inline-block

.meeting-card-wrapper
    text-align center
    font-weight bold

.meeting-card-month
    background-color #f30036
    padding 3px
    color white

.meeting-card-number
    background-color white
    color $gre3
    padding 3px


.meeting-card-lg
    .meeting-card-month
        font-size 20px

    .meeting-card-number
        font-size 45px
