{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {% trans "Reunión" %} - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include "profiles/profile_sidebar.html" %}

            <div class="col-sm-9">
                <section class="meeting-form-section">
                    <h3 class="text-section-header">{% trans "Reunión" %}</h3>
                    <h4>{% include "profiles/meeting_row_state.html" %}</h4>
                    <div class="row">
                        <div class="col-sm-12">
                            {% if meeting.protege and meeting.mentor %}
                                <h4><a href="{% url 'profile_detail' meeting.protege.username %}">{{ meeting.protege.get_full_name }}</a> con <a href="{% url 'profile_detail' meeting.mentor.username %}">{{ meeting.mentor.get_full_name }}</a></h4>
                            {% endif %}
                            <h2>{{meeting.datetime|date}}<br>
                            {{ meeting.get_time_range_string }}</h2><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {% if meeting.format %}
                                <p>
                                    <strong>{% trans "Formato" %}</strong><br>
                                    {{ meeting_format_name }} {% if meeting.state == 'confirmed' %}- <strong>{{ meeting_format_information }}</strong>{% endif %}
                                </p>
                            {% endif %}
                            {% if meeting.state == 'confirmed' %}
                                <strong>{% trans "Información de contacto" %}</strong><br>
                                <p>
                                    {{ meeting.mentor.get_full_name}}: {{ meeting.mentor.email }}<br>
                                    {{ meeting.protege.get_full_name}}: {{ meeting.protege.email }}
                                </p>
                            {% endif %}
                            {% if meeting.message %}
                                <p>
                                    <strong>{% trans "Mensaje" %}:</strong><br>
                                    {{ meeting.message }}
                                </p>
                            {% endif %}
                        </div>
                    </div>

                    <hr> <!-- hr -->

                    <div class="row">
                        <div class="col-sm-12">
                            {% if meeting.state == 'reserved' or meeting.state == 'confirmed' %}
                                <form action="{% url 'meeting_cancel' meeting.mentor.username meeting.id %}" method="post" class="form-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-default btn-grey">{% trans "Cancelar reunión" %}</button>
                                </form>
                            {% endif %}

                            {% if meeting.state == 'waiting_reply' and meeting.protege == user %}
                                <h4>Confirma si la reunión se celebró</h4>
                                <form action="{% url 'meeting_feedback' meeting.mentor.username meeting.id %}" method="post" class="form-inline">
                                    {% csrf_token %}
                                    <button type="submit" name="action" value="did_happen" class="btn btn-success">{% trans "Si, celebramos la reunión" %}</button>
                                    <button type="submit" name="action" value="didnt_happen" class="btn btn-warning">{% trans "No celebramos la reunión" %}</button>
                                </form>
                            {% endif %}

                            {% if meeting.state == 'reserved' and meeting.mentor == user %}
                                <form action="{% url 'meeting_confirm' meeting.mentor.username meeting.id %}" method="post" class="form-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-default btn-success">{% trans "Confirmar" %}</button>
                                </form>
                            {% endif %}
                            <a href="{% url 'profile_detail' meeting.mentor.username %}" class="btn btn-link">{% trans "Volver al perfil de " %} {{ meeting.mentor.get_full_name }}</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}
