{% extends "base.html" %}
{% load i18n %}

{% block app_scripts %}
  {# Don't include app.js #}
{% endblock app_scripts %}

{% block title %}
    {% trans "Horas - Todos ayudando a todos" %}
{% endblock title %}

{% block header %}
    {# No Header #}
{% endblock header %}

{% block content %}
    {% include "persona/auth.html" %}

    <div class="container">
        <div class="row col-sm-12 home-branding-wrapper">
            <h1 class="branding-huge text-center">{% trans "1hora" %}</h1>
        </div> <!-- /.row col-sm-12 -->

        <div class="row col-sm-6 col-sm-offset-3">
            <h4 class="branding-subtitle text-muted text-center">
                {% blocktrans %}
                    El mejor lugar para compartir lo que sabes y aprender<br>de quienes han estado donde quieres llegar.
                {% endblocktrans %}
            </h4>
        </div> <!-- /.row col-sm-6 col-sm-offset-3 -->

        <section class="row col-sm-12 margin-vertical-50">
            <div class="col-sm-3 col-sm-offset-2">
                <span class="big-number">1</span>
                <h4 class="inline-block">{% trans "Regístrate" %}</h3>
                <div class="margin-vertical-10">Regístrate para ser mentor y para poder reservar reuniones con otros mentores.</div>
            </div> <!-- /.col-sm-3 -->
            <div class="col-sm-3">
                <span class="big-number">2</span>
                <h4 class="inline-block">{% trans "Comparte" %}</h3>
                <div class="margin-vertical-10">Comparte las horas que estarás disponible para dar reuniones a otros en la comunidad.</div>
            </div> <!-- /.col-sm-3 -->
            <div class="col-sm-3">
                <span class="big-number">3</span>
                <h4 class="inline-block">{% trans "Reúnete" %}</h3>
                <div class="margin-vertical-10">Busca un mentor con el que te quieras reunir y reserva un espacio.</div>
            </div> <!-- /.col-sm-3 -->
        </section> <!-- /.row col-sm-12 -->


        <section class="row col-sm-12 text-center">
            <h4>{% trans "Entra ahora, sólo toma un minuto" %}</h4>

            <div class="row col-sm-12">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </div>

            <div class="col-sm-6 col-sm-offset-3 text-muted margin-vertical-10 text-help-small">
                {% url 'account_signup' as account_signup %}
                {% url 'account_login' as account_login %}
                {% blocktrans %}
                    Puedes registrarte usando una de tus cuentas de redes sociales, pero si esa idea no te gusta puedes <a href="{{ account_signup }}">crear una cuenta tradicional</a>, si ya la tienes haz <a href="{{ account_login }}">login</a>.
                {% endblocktrans %}
            </div>
        </section> <!-- /.row col-sm-12 text-center home-login-area -->

        <div class="row">
            <hr class="col-sm-12 horizontal-line">
        </div>

        <section class="row featured-mentors-title">
            <div class="col-sm-12 text-center">
                <h3>{% trans "Mentores Destacados" %}</h3>
            </div> <!-- /.col-sm-12 text-center -->
        </section> <!-- /.row -->

        <section class="row">
            <ul class="media-list">
                <li class="media col-sm-4">
                    <a href="#" class="pull-left">
                        <img src="//placehold.it/70x70" alt="user gravatar" class="media-object">
                    </a>
                    <div class="media-object">
                        <h4 class="media-heading"><a href="#">Frank Underwood</a></h4>
                        <div class="user-widget-small-bio text-muted">
                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse commodo fermentum leo, id cras amet.
                        </div> <!-- /.user-widget-small-bio text-muted -->
                    </div>
                </li>

                <li class="media col-sm-4">
                    <a href="#" class="pull-left">
                        <img src="//placehold.it/70x70" alt="user gravatar" class="media-object">
                    </a>
                    <div class="media-object">
                        <h4 class="media-heading"><a href="#">Frank Underwood</a></h4>
                        <div class="user-widget-small-bio text-muted">
                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse commodo fermentum leo, id cras amet.
                        </div> <!-- /.user-widget-small-bio text-muted -->
                    </div>
                </li>

                <li class="media col-sm-4">
                    <a href="#" class="pull-left">
                        <img src="//placehold.it/70x70" alt="user gravatar" class="media-object">
                    </a>
                    <div class="media-object">
                        <h4 class="media-heading"><a href="#">Frank Underwood</a></h4>
                        <div class="user-widget-small-bio text-muted">
                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse commodo fermentum leo, id cras amet.
                        </div> <!-- /.user-widget-small-bio text-muted -->
                    </div>
                </li>

                <li class="media col-sm-4">
                    <a href="#" class="pull-left">
                        <img src="//placehold.it/70x70" alt="user gravatar" class="media-object">
                    </a>
                    <div class="media-object">
                        <h4 class="media-heading"><a href="#">Frank Underwood</a></h4>
                        <div class="user-widget-small-bio text-muted">
                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse commodo fermentum leo, id cras amet.
                        </div> <!-- /.user-widget-small-bio text-muted -->
                    </div>
                </li>

                <li class="media col-sm-4">
                    <a href="#" class="pull-left">
                        <img src="//placehold.it/70x70" alt="user gravatar" class="media-object">
                    </a>
                    <div class="media-object">
                        <h4 class="media-heading"><a href="#">Frank Underwood</a></h4>
                        <div class="user-widget-small-bio text-muted">
                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse commodo fermentum leo, id cras amet.
                        </div> <!-- /.user-widget-small-bio text-muted -->
                    </div>
                </li>

                <li class="media col-sm-4">
                    <a href="#" class="pull-left">
                        <img src="//placehold.it/70x70" alt="user gravatar" class="media-object">
                    </a>
                    <div class="media-object">
                        <h4 class="media-heading"><a href="#">Frank Underwood</a></h4>
                        <div class="user-widget-small-bio text-muted">
                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse commodo fermentum leo, id cras amet.
                        </div> <!-- /.user-widget-small-bio text-muted -->
                    </div>
                </li>
            </ul>

            <div class="col-sm-12 text-center featured-mentors-more-wrapper">
                <a href="" class="btn btn-default btn-lg btn-grey">Ver más</a> <span class="text-muted">Tenemos 1,529 mentores registrados</span>
            </div>

        </section>

        <footer class="row footer">
            <div class="col-sm-12">
                <ul class="list-inline">
                    <li><span class="branding-small">1hora</span></li>
                    <li><span class="text-muted">|</span></li>
                    <li><a href="#" class="text-muted">Some Rights Reserved</a></li>
                    <li><span class="text-muted">|</span></li>
                    <li><a href="#">Sobre 1hora</a></li>
                    <li><a href="#">Politica de Privacidad</a></li>
                    <li><a href="#">Terminos de Uso</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Source</a></li>
                </ul>
            </div>
        </footer>

    </div> <!-- /.container -->
{% endblock content %}
