{% load i18n %}
{% if meeting.state == 'reserved' %}
    <span class="glyphicon glyphicon-ok-circle icon-warning"></span> <small>{% trans "Reunión reservada" %}</small>
{% elif meeting.state == 'confirmed' %}
    <span class="glyphicon glyphicon-ok-circle icon-success"></span> <small>{% trans "Reunión confirmada" %}</small>
{% elif meeting.state == 'cancelled' %}
    <span class="glyphicon glyphicon-remove-circle icon-cancelled"></span> <small>{% trans "Cancelada" %}</small>
{% elif meeting.state == 'unused' %}
    <span class="glyphicon glyphicon-remove-circle icon-cancelled"></span> <small>{% trans "No fue reservada" %}</small>
{% endif %}

