{% load i18n %}

<div class="col-xs-1">
    <a href="{% url 'profile_detail' meeting.mentor.username %}"><img src="{{ meeting.mentor.gravatar_url }}?s=45&d=identicon" alt="" class="img-rounded" title="{% trans "Mentor:" %} {{ meeting.mentor.get_full_name|title }} - {{ meeting.mentor }}"></a>
</div>
<div class="col-xs-1">
    {% if meeting.protege %}
        <a href="{% url 'profile_detail' meeting.protege.username %}"><img src="{{ meeting.protege.gravatar_url }}?s=45&d=identicon" alt="" class="img-rounded" title="{% trans "Aprendiz:" %} {{ meeting.protege.get_full_name|title }} - {{ meeting.protege }}"></a>
    {% else %}
        <div class="img-rounded gravatar-placeholder-grey" title="{% trans "Nadie reservó esta reunión" %}"></div>
    {% endif %}
</div>
