{% load i18n %}
<div class="col-sm-3 profile-sidebar">
    <img src="{{ object.user.gravatar_url }}?s=285" alt="Gravatar" class="img-responsive img-thumbnail">
    <h3>{{ object.user.get_full_name }}</h3>
    <div class="text-muted">{{ object.user.bio }}</div>
    <div class="margin-vertical-50">
        <div>{{ object.user.get_location }}</div>
        {% if object.user.website_url %}
            <div><a href="{{ object.user.website_url }}">{{ object.user.website_url }}</a></div>
        {% endif %}
        {% blocktrans with object.user.date_joined|date:"N j, o" as date %}
            <div>Mentor desde {{ date }}</div>
        {% endblocktrans %}
    </div>

    <h4>{% trans "Temas" %}</h4>
    <ul class="list-inline">
        {% for tag in object.user.tags.all %}
            <li><a href="{% url 'search_query' tag.slug %}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
</div> <!-- /.profile-sidebar -->
