{% extends "base.html" %}
{% load i18n %}

{% block app_scripts %}
  {# Don't include app.js #}
{% endblock app_scripts %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include "profiles/profile_sidebar.html" %}

            <div class="col-sm-9 profile-content-wrapper">
                <section class="profile-content-section">
                    <h3 class="text-section-header">{% trans "Hora disponible" %}</h3>
                    <div class="row profile-meeting-row">
                        <div class="col-xs-4 col-md-2">
                            <a href="#" class="btn btn-lg btn-success">{% trans "Reservar" %}</a>
                        </div>
                        <div class="col-xs-5">
                            <strong>Lunes, 24 de Febrero de 2014</strong><br>
                            2:00 - 3:00 PM AST
                        </div>
                        <div class="col-xs-3">
                            <strong>{% trans "Formatos" %}</strong><br>
                            Skype, Hangout
                        </div>
                    </div> <!-- /.row profile-meeting-row -->
                </section> <!-- /.row profile-content-section -->

                <section class="profile-content-section">
                    <h3 class="text-section-header">{% trans "Próximas reuniones" %}</h3>
                    <div class="row profile-meeting-row">
                        <div class="col-xs-1">
                            <img src="//placehold.it/45x45" alt="" class="img-rounded">
                        </div>
                        <div class="col-xs-1">
                            <img src="//placehold.it/45x45" alt="" class="img-rounded">
                        </div>
                        <div class="col-xs-offset-1 col-sm-offset-0 col-xs-5">
                            <strong>Lunes, 24 de Febrero de 2014</strong><br>
                            2:00 - 3:00 PM AST
                        </div>
                        <div class="col-sm-3">
                            <a href="#" class="btn btn-default btn-grey">{% trans "Confirmar" %}</a>
                        </div>
                    </div> <!-- /.row profile-meeting-row -->
                    <div class="row profile-meeting-row">
                        <div class="col-xs-1">
                            <img src="//placehold.it/45x45" alt="" class="img-rounded">
                        </div>
                        <div class="col-xs-1">
                            <img src="//placehold.it/45x45" alt="" class="img-rounded">
                        </div>
                        <div class="col-xs-offset-1 col-sm-offset-0 col-xs-5">
                            <strong>Lunes, 24 de Febrero de 2014</strong><br>
                            2:00 - 3:00 PM AST
                        </div>
                        <div class="col-sm-3">
                            <a href="#" class="btn btn-default btn-grey">{% trans "Cancelar" %}</a>
                        </div>
                    </div> <!-- /.row profile-meeting-row -->
                </section> <!-- /.row profile-content-section -->

                <section class="profile-content-section">
                    <h3 class="text-section-header">{% trans "Historia" %}</h3>
                    <div class="row profile-meeting-row">
                        <div class="col-xs-1">
                            <img src="//placehold.it/45x45" alt="" class="img-rounded">
                        </div>
                        <div class="col-xs-1">
                            <img src="//placehold.it/45x45" alt="" class="img-rounded">
                        </div>
                        <div class="col-xs-offset-1 col-sm-offset-0 col-xs-5">
                            <strong>Lunes, 24 de Febrero de 2014</strong><br>
                            2:00 - 3:00 PM AST
                        </div>
                        <div class="col-sm-3">
                            <span class="glyphicon glyphicon-ok-circle icon-success"></span> {% trans "Celebrada" %}
                        </div>
                    </div> <!-- /.row profile-meeting-row -->
                    <div class="row profile-meeting-row">
                        <div class="col-xs-1">
                            <img src="//placehold.it/45x45" alt="" class="img-rounded">
                        </div>
                        <div class="col-xs-1">
                            <img src="//placehold.it/45x45" alt="" class="img-rounded">
                        </div>
                        <div class="col-xs-offset-1 col-sm-offset-0 col-xs-5">
                            <strong>Lunes, 24 de Febrero de 2014</strong><br>
                            2:00 - 3:00 PM AST
                        </div>
                        <div class="col-sm-3">
                            <span class="glyphicon glyphicon-remove-circle icon-cancelled"></span> {% trans "Cancelada" %}
                        </div>
                    </div> <!-- /.row profile-meeting-row -->
                </section> <!-- /.row profile-content-section -->
            </div> <!-- /.profile-content-wrapper -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->
{% endblock content %}
