{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {{ profile_user.get_full_name|title }} - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include "profiles/profile_sidebar.html" %}

            <div class="col-sm-9 profile-content-wrapper">
                {% if object.meetings.available %}
                    <section class="profile-content-section">
                        <h3 class="text-section-header">{% trans "Hora disponible" %}</h3>
                        {% for meeting in object.meetings.available %}
                            <div class="row profile-meeting-row">
                                <div class="col-xs-4 col-md-2">
                                    <a href="{% url 'meeting_update' profile_user meeting.id %}" class="btn btn-lg btn-success">{% trans "Reservar" %}</a>
                                </div>
                                <div class="col-xs-5">
                                    <strong>{{ meeting.datetime|date }}</strong><br>
                                    {{ meeting.get_time_range_string }}
                                </div>
                                <div class="col-xs-3">
                                    <strong>{% trans "Formatos" %}</strong><br>
                                    {{ profile_user.get_meeting_formats_string }}
                                </div>
                            </div> <!-- /.row profile-meeting-row -->
                        {% endfor %}
                    </section> <!-- /.row profile-content-section -->
                {% endif %}

                {% if object.meetings.next %}
                    <section class="profile-content-section">
                        <h3 class="text-section-header">{% trans "Próximas reuniones" %}</h3>
                        {% for meeting in object.meetings.next %}
                            <div class="row profile-meeting-row">
                                {% include "profiles/meeting_row_gravatars.html" %}
                                {% include "profiles/meeting_row_info.html" %}
                                <div class="col-sm-3 pull-right">
                                    {% if meeting.state == 'reserved' or meeting.state == 'confirmed' %}
                                        {% if user == meeting.mentor or user == meeting.protege %}
                                            <form action="{% url 'meeting_cancel' meeting.mentor.username meeting.id %}" method="post" class="form-inline">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-default btn-grey btn-sm">{% trans "Cancelar" %}</button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                    {% if meeting.state == 'reserved' and user == meeting.mentor %}
                                        <form action="{% url 'meeting_confirm' meeting.mentor.username meeting.id %}" method="post" class="form-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-default btn-success btn-sm">{% trans "Confirmar" %}</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div> <!-- /.row profile-meeting-row -->
                        {% endfor %}
                    </section> <!-- /.row profile-content-section -->
                {% endif %}

                {% if object.meetings.past %}
                    <section class="profile-content-section">
                        <h3 class="text-section-header">{% trans "Historia" %}</h3>
                        {% for meeting in object.meetings.past %}
                            <div class="row profile-meeting-row">
                                {% include "profiles/meeting_row_gravatars.html" %}
                                {% include "profiles/meeting_row_info.html" %}
                            </div> <!-- /.row profile-meeting-row -->
                        {% endfor %}
                    </section> <!-- /.row profile-content-section -->
                {% endif %}

                <section class="profile-content-section">
                    <h3 class="text-section-header">{% trans "Comparte" %}</h3>
                        <div class="row profile-meeting-row">
                            <div class="col-xs-12">
                                <ul class="list-inline list-unstyled social-buttons-list">
                                    <li class="social-button-item social-button-twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-related="1horaorg">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
                                    <li class="social-button-item social-button-plus"><g:plusone size="medium" style="display:inline"></g:plusone><script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script></li>
                                    <li class="social-button-item social-button-facebook"><iframe src="http://www.facebook.com/plugins/like.php?app_id=282469738575875&amp;href={{ profile_user.get_url_with_domain }}&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></li>
                                    </ul>
                            </div>
                        </div> <!-- /.row profile-meeting-row -->
                </section> <!-- /.row profile-content-section -->
            </div> <!-- /.profile-content-wrapper -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->
{% endblock content %}
