{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {{ profile_user.get_full_name|title }} - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include "profiles/profile_sidebar.html" %}

            <div class="col-sm-9 profile-content-wrapper">
                {% if object.meetings.available %}
                    <div class="panel panel-info">
                        <div class="panel-heading"><h3>{% trans "Disponible" %}</h3></div>
                        <div class="panel-body">
                            {% for meeting in object.meetings.available %}
                                <div class="row">
                                    <div class="col-xs-6 col-md-3">
                                        <div class="meeting-card-wrapper meeting-card-lg">
                                            <div class="meeting-card-month">{{ meeting.datetime|date:"M"|upper }}</div>
                                            <div class="meeting-card-bottom-part-wrapper">
                                                <div class="meeting-card-number">{{ meeting.datetime|date:"d" }}</div>
                                                <div class="meeting-card-time">{{ meeting.get_time_range_string }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-9">
                                        <h4>{% trans "Formatos" %}</h4>
                                        <p>{{ profile_user.get_meeting_formats_string }}</p>
                                        <a href="{% url 'meeting_update' profile_user meeting.id %}" class="btn btn-lg btn-success">{% trans "Reservar" %}</a>
                                    </div>
                                </div>
                                {% if object.meetings.available|length > 1 %}
                                    {% if forloop.last == False %}
                                        <hr class="meeting-divider">
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if object.meetings.next %}
                    <section class="profile-content-section">
                        <h3 class="text-section-header">{% trans "Próximas reuniones" %}</h3>
                        <table class="table">
                            {% for meeting in object.meetings.next %}
                                {% include "profiles/meeting_row.html" %}
                            {% endfor %}
                        </table>
                    </section> <!-- /.row profile-content-section -->
                {% endif %}

                {% if object.meetings.past %}
                    <section class="profile-content-section">
                        <h3 class="text-section-header">{% trans "Historia" %}</h3>
                        <table class="table">
                            {% for meeting in object.meetings.past %}
                                {% include "profiles/meeting_row.html" %}
                            {% endfor %}
                        </table>
                    </section> <!-- /.row profile-content-section -->
                {% endif %}

                <div class="row">
                    <div class="col-sm-12">
                        {% include "common/social_sharing.html" %}
                    </div>
                </div>

            </div> <!-- /.profile-content-wrapper -->

        </div> <!-- /.row -->

    </div> <!-- /.container -->
{% endblock content %}
