{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block app_scripts %}
  {# Don't include app.js #}
{% endblock app_scripts %}

{% block title %}
    {% trans "Configuración" %} - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if form.errors %}
                <div class="col-sm-12">
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-remove"></span> {% trans "Ups!" %}
                        {{ form.non_field_errors.as_ul }}
                    </div>
                </div>
            {% endif %}
            <div class="col-sm-3 profile-sidebar">
                <img src="{{ object.gravatar_url }}?s=285" alt="Gravatar" class="img-responsive img-thumbnail">
                <p class="margin-vertical-20 text-muted">
                    {% blocktrans %}Para modificar tu foto de perfil debes hacerlo en <a href="http://gravatar.com">gravatar.com</a>{% endblocktrans %}
                </p>

                <h4>{% trans "Otras configuraciones" %}</h4>
                <ul class="list-unstyled">
                    <li><a href="{% url 'account_email' %}">{% trans "Cambiar email" %}</a></li>
                    <li><a href="{% url 'account_change_password' %}">{% trans "Cambiar contraseña" %}</a></li>
                    <li><a href="{% url 'socialaccount_connections' %}">{% trans "Perfiles sociales" %}</a></li>
                    <li><a href="#">{% trans "Borrar mi cuenta" %}</a></li>
                </ul>

            </div> <!-- /.profile-sidebar -->

            <div class="col-sm-9 profile-content-wrapper">
                <section class="profile-content-section">
                    <h4 class="text-section-header">{% trans "Editar perfil" %}</h4>

                    <form method="post" role="form">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group{% if form.first_name.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.first_name label_class="control-label" %}
                                    {% if form.first_name.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group{% if form.last_name.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.last_name label_class="control-label" %}
                                    {% if form.last_name.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group{% if form.bio.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.bio label_class="control-label" %}
                                    {% if form.bio.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group{% if form.tags.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.tags label_class="control-label" %}
                                    {% if form.tags.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <hr> <!-- hr -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group{% if form.city.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.city label_class="control-label" %}
                                    {% if form.city.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group{% if form.state.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.state label_class="control-label" %}
                                    {% if form.state.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <hr> <!-- hr -->

                        <h4 class="text-section-header">{% trans "Enlaces sociales" %} <small>{% trans "Opcional" %}</small></h4><br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group{% if form.twitter_username.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.twitter_username label_class="control-label" %}
                                    {% if form.twitter_username.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group{% if form.github_username.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.github_username label_class="control-label" %}
                                    {% if form.github_username.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group{% if form.linkedin_url.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.linkedin_url label_class="control-label" %}
                                    {% if form.linkedin_url.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group{% if form.website_url.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.website_url label_class="control-label" %}
                                    {% if form.website_url.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <hr> <!-- hr -->

                        <h4 class="text-section-header">{% trans "Formatos de reunión" %}</h4>
                        <p>{% trans "Usaremos esta información de contacto para tus reuniones. Completa todas las que apliquen o quieras usar. Esta información se mantendrá privada hasta que apruebes una reunión. Cuando apruebes una reunión compartiremos solo la información del formato que el usuario solicitó. Ejemplo si el usuario solicita Skype, solo compartiremos tu username de Skype con ese usuario. Todo lo demás se mantendrá privado." %}</p>

                        <br>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group{% if form.skype.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.skype label_class="control-label" %}
                                    {% if form.skype.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group{% if form.google.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.google label_class="control-label" %}
                                    {% if form.google.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group{% if form.jitsi.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.jitsi label_class="control-label" %}
                                    {% if form.jitsi.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group{% if form.phone.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.phone label_class="control-label" %}
                                    {% if form.phone.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group{% if form.address.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.address label_class="control-label" %}
                                    {% if form.address.errors %}
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <hr> <!-- hr -->

                        <h4 class="text-section-header">{% trans "Tus horas" %}</h4>
                        <p>{% trans "En esta sección escogerás qué día de la semana y a qué hora estarás disponible para ofrecer reuniones a los usuarios de 1hora.org. Cada semana haremos disponible un (1) espacio usando estas preferencias." %}</p>

                        <br>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group{% if form.day_of_week.errors %} has-error has-feedback{% endif %}">
                                    <label class="control-label">{% trans "Día de la semana" %}</label><br>

                                    {% for radio in form.day_of_week %}
                                        <label class="radio-inline">
                                            {{ radio.tag }} {{ radio.choice_label }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group{% if form.start_time.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.start_time label_class="control-label" %}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="user-profile-time-end">
                                    {% blocktrans %}las reuniones duran <strong>1 hora</strong>.{% endblocktrans %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group{% if form.timezone.errors %} has-error has-feedback{% endif %}">
                                    {% bootstrap_field form.timezone label_class="control-label" %}
                                </div>
                            </div>
                        </div>

                        <hr> <!-- hr -->

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                    <a href="{% url 'profile_detail' object.username %}" class="btn btn-link">{% trans "Volver a tu perfil" %}</a>
                                </div>
                            </div>
                        </div>

                    </form>

                </section> <!-- /.profile-content-section -->
            </div> <!-- /.profile-content-wrapper -->
        </div>
    </div>
{% endblock content %}
