{% load i18n %}
<div class="container">
    <footer class="row footer">
        <div class="col-sm-4 padding-0-left">
            <ul class="list-inline">
                <li><span class="branding-small"><a href="#">1hora</a></span></li>
                <li><span class="text-muted">|</span></li>
                {% blocktrans %}
                    <li><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES" class="text-muted">Algunos derechos reservados</a></li>
                {% endblocktrans %}
            </ul>
        </div>
        <div class="col-sm-8 text-right padding-0-right">
            <ul class="list-inline">
                <li><a href="{% url 'about' %}">{% trans "Sobre 1hora" %}</a></li>
                <li><a href="{% url 'legal' %}">{% trans "Legal" %}</a></li>
                <li><a href="{% url 'contact' %}">{% trans "Contacto" %}</a></li>
                <li><a href="https://github.com/SoPR/horas">{% trans "Source" %}</a></li>
            </ul>
        </div>
    </footer>
</div>
