{% load i18n %}
<section class="profile-content-section">
    <h3 class="text-section-header">{% trans "Comparte" %}</h3>
        <div class="row profile-meeting-row">
            <div class="col-xs-12">
                <ul class="list-inline list-unstyled social-buttons-list">
                    <li class="social-button-item social-button-twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-related="1horaorg">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
                    <li class="social-button-item social-button-plus"><g:plusone size="medium" style="display:inline"></g:plusone><script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script></li>
                    <li class="social-button-item social-button-facebook"><div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
                </ul>
            </div>
        </div> <!-- /.row profile-meeting-row -->
</section> <!-- /.row profile-content-section -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=282469738575875&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
