{% extends "base.html" %}
{% load i18n %}
{% load cache %}

{% block app_scripts %}
  {# Don't include app.js #}
{% endblock app_scripts %}

{% block title %}
    {% trans "Mentores" %} - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 search-wrapper">
                <form method="get">
                    <div class="col-sm-10 padding-0-left padding-0-right">
                        <input type="text" name="q" value="{{ search_term }}" class="search-huge" placeholder="{% trans "Buscar por nombre de mentor o tema" %}" autofocus>
                    </div>
                    <div class="col-sm-2 padding-0-left padding-0-right">
                        <button class="btn btn-search-huge pull-right" type="submit">{% trans "Buscar" %}</button>
                    </div>
                </form>
            </div>
        </div>


        <div class="col-sm-12 horizontal-line search-page-horizontal-line"></div>

        {% if not search_term and page_obj.number == 1 %}
            <div class="row">
                <div class="col-sm-12">
                    <h3>{% trans "Buscar por tema" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-inline search-link-list">
                    {% cache 300 search.tags %}
                        {% for tag in tags %}
                            <li>
                                <a href="{% url 'search_query' tag.name %}">
                                    {{ tag }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endcache %}
                    </ul>
                </div>
            </div>


            <div class="col-sm-12 horizontal-line search-page-horizontal-line"></div>


            <div class="row search-page-row">
                <div class="col-sm-12">
                    <h3>{% trans "Buscar por ciudad" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-inline search-link-list">
                    {% cache 300 search.cities %}
                        {% for city in cities %}
                            <li>
                                <a href="{% url 'search_list' %}?q={{ city }}">
                                    {{ city }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endcache %}
                    </ul>
                </div>
            </div>


            <div class="col-sm-12 horizontal-line search-page-horizontal-line"></div>
        {% endif %}


        <section class="row">
            {% if object_list %}
                <ul class="media-list">
                    {# Had to check for search tearms to cache when possible #}
                    {% if search_term %}
                        {% for user in object_list %}
                            <li class="media col-sm-4 home-media-wrapper">
                                <a href="{{ user.get_absolute_url }}" class="pull-left">
                                    <img src="{{ user.gravatar_url }}?d=identicon" alt="user gravatar" class="media-object">
                                </a>
                                <div class="media-object">
                                    <h4 class="media-heading">
                                        <a href="{{ user.get_absolute_url }}">
                                            {{ user.get_full_name }}
                                        </a>
                                    </h4>
                                    <div class="user-widget-small-bio text-muted">
                                        {{ user.bio }}
                                    </div> <!-- /.user-widget-small-bio text-muted -->
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% cache 300 search.default.object_list %}
                            {% for user in object_list %}
                                <li class="media col-sm-4 home-media-wrapper">
                                    <a href="{{ user.get_absolute_url }}" class="pull-left">
                                        <img src="{{ user.gravatar_url }}?d=identicon" alt="user gravatar" class="media-object">
                                    </a>
                                    <div class="media-object">
                                        <h4 class="media-heading">
                                            <a href="{{ user.get_absolute_url }}">
                                                {{ user.get_full_name }}
                                            </a>
                                        </h4>
                                        <div class="user-widget-small-bio text-muted">
                                            {{ user.bio }}
                                        </div> <!-- /.user-widget-small-bio text-muted -->
                                    </div>
                                </li>
                            {% endfor %}
                        {% endcache %}
                    {% endif %}
                </ul>
            {% else %}
                <div class="col-sm-12">
                    <h4 class="text-muted text-center">
                        {% trans "No hay resultados para esta busqueda" %}
                    </h4>
                </div>
            {% endif %}
        </section>

        {% include "common/pagination.html" %}

    </div>
{% endblock content %}
