{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Estadísticas" %} - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{% trans "Estadísticas" %}</h2>
                <h5 class="text-muted">Actualizo el {{ users.stats.0.date_created|date }} @ {{ users.stats.0.date_created|time }}</h5><br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h4>{% trans "Usuarios" %}</h4>
                <table class="table table-responsive table-striped">
                    <tr>
                        <th>Metric</th>
                        <th>Count</th>
                    </tr>
                    {% for stat in users.stats %}
                        <tr>
                            <td>{{ stat.name }}</td>
                            <td>{{ stat.count }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Last 5 joined</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for user in users.recently_joined %}
                                    <li>
                                        <a href="{% url 'profile_detail' user.username %}">{{ user.username }}</a>
                                        {% if user.has_complete_profile %}
                                            <span class="label label-success" title="Completed Profile">:)</span>
                                        {% else %}
                                            <span class="label label-danger" title="Incomplete Profile">:(</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6">
                <h4>{% trans "Reuniones" %}</h4>
                <table class="table table-responsive table-striped">
                    <tr>
                        <th>Metric</th>
                        <th>Count</th>
                    </tr>
                    {% for stat in meetings %}
                        {% if stat %}
                            <tr>
                                <td>{{ stat.name }}</td>
                                <td>{{ stat.count }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>


    </div>
{% endblock content %}
