{% load tz %}
{% load i18n %}

{% timezone meeting.mentor.timezone %}
    {% blocktrans with mentor_name=meeting.mentor.get_full_name protege_name=meeting.protege.first_name the_date=meeting.datetime|date the_time=meeting.get_time_range_string meeting_url=meeting.get_url_with_domain message=meeting.message %}
        <p>Hola {{ protege_name }},</p>

        <p>{{ mentor_name }} acaba de confirmar la reunión pautada para el {{ the_date }} @ {{ the_time }}.</p>

        <p>Para ver la información de contacto del mentor ve a <a href="{{ meeting_url }}">la página de la reunión</a>.</p>

        <p>Recuerda dedicar un poco de tiempo antes de la reunión para pensar de que van a hablar. Un buen punto de partida puede ser preparar una lista de 5 preguntas importantes que quieres que el mentor te ayude a contestar. El tiempo de todos es muy preciado y para que este proyecto funcione la mayoría debemos ser respetuosos del tiempo de los demás.</p>

        <p>- <a href="https://1hora.org">1hora.org</a></p>
    {% endblocktrans %}
{% endtimezone %}
